{
  "gumtree_bin_path": str,
  "git_repositories_dir": str,

  "traverse_file_max_line_count": 1500,
  "traverse_async": true,
  "traverse_min_date": str?,

  "change_graphs_storage_dir": str,
  "change_graphs_store_interval": 300,

  "patterns_output_dir": str,
  "patterns_output_details": false,

  "patterns_min_frequency": 3,
  "patterns_max_frequency": 1000,
  "patterns_async_mining": false,
  "patterns_full_print": false,
  "patterns_hide_overlapped_fragments": true,
  "patterns_min_size": 3,
  "patterns_min_date": str?,

  "logger_file_path": "miner.log",
  "logger_file_log_level": "INFO",
  "logger_stdout_log_level": "WARNING",

  "use_stackimpact": false,
  "stackimpact_agent_key": str?
}